-# in _movie_form.html.haml (the partial)
-# - unless @movie.errors.empty?
-#   #warning
-#     Errors prevented this movie from being #{controller.action_name}d:
-#     %ul
-#       - @movie.errors.full_messages.each do |error|
-#         %li= error

= label :movie, :title, 'Title'
= text_field :movie, 'title'

= label :movie, :rating, 'Rating'
= select :movie, :rating, Movie.all_ratings

= label :movie, :release_date, 'Released On'
= date_select :movie, :release_date, { start_year: 1930, end_year: Date.today.year }
