%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

= link_to 'Edit info', edit_movie_path(@movie)
= link_to 'Delete', movie_path(@movie), :method => :delete
= link_to 'Close', '', {:id => 'closeLink'}
