-# edit.html.haml using partial
%h2 Edit Existing Movie

= form_tag movie_path(@movie), :method => :put do
  = render :partial => 'movie_form'
  = submit_tag 'Update Movie Info'
  = link_to 'Cancel', movie_path(@movie)
