-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th Index
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie, i|
      -# %tr{:class => ('adult' unless movie.rating =~ /^G|PG$/)}
      %tr{:class => movie.rating}
        %td= i+1
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

-# %h1 Search TMDb for a movie

-# = form_tag :action => 'search_tmdb' do

-#   %label{:for => 'search_terms'} Search Terms
-#   = text_field_tag 'search_terms'
-#   = submit_tag 'Search TMDb'
