/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Simple CSS styling for RottenPotatoes app */
 /* Add these lines to app/assets/stylesheets/application.css */

 html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
  }
  div#main {
    margin: 0;
    padding: 0 20px 20px;
  }
  a {
    background: transparent;
    color: maroon;
    text-decoration: underline;
    font-weight: bold;
  }
  h1 {
    color: maroon;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
  }
  h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
  }
  table#movies {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
  }
  table#movies th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
  }
  table#movies th, table#movies td {
    padding: 4px;
    text-align: left;
  }
  #notice, #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
  }
  form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: maroon;
  }
  #movieInfo {
   padding: 2ex;
   position: absolute;
   border: 2px double grey;
   background: wheat;
 }
 div.container-fluid {
   margin: 0;
   padding: 0 20px 0px 20px;
 }