!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    %h1.title= link_to 'Rotten Potatoes!', movies_path
    .container-fluid
      - if @current_user
        %p.welcome  Welcome, #{@current_user.name}!
        = link_to 'Log Out', logout_path, :method => :post
      - else
        %p.login= link_to 'Log in with your Twitter account', '/auth/twitter'
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
        
      = yield
